body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.pokemon-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
    background-color: goldenrod;
    border: 3px solid gold;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 200px; 
}

.card img {
    display: block;
    margin: 0 auto;
    max-width: 150px; /* Adjust max-width as needed */
}

.card h2 {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}


input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.pokemon-details {
    margin-top: 20px;
}

#pokemonSprite {
    display: block;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin-top: 10px;
}
